<!DOCTYPE html>
<html lang="sp">

<%- include("../partials/head") %>

      <body>
            <%- include("../partials/header") %>
                  <h1>Detalle de productos</h1>

                  <%- include("../partials/scripts") %>
      </body>

</html>