a {
      text-decoration: none;
}
.avatar {
      height: 7rem;
}
.iconos {
      height: 1rem;
}
.text-danger {
      font-size: 0.7rem;
}

.user {
      position: relative;
}

.menu-user {
      display: none;
      position: absolute;
      font-size: 1rem;
      width: 9rem;
      background-color: white;
      padding: 1rem;
      border-radius: 0.5rem;
      margin-left: -3rem;
}

.user:hover .menu-user {
      display: block;
}
.session {
      display: inline-block;
      width: 8px;
      height: 8px;
      background: #00d900;
      border-radius: 50px;
      position: relative;
      top: -10px;
      right: 0px;
}
/* .avatar {
      margin-right: 50px;
}
 */
