<!DOCTYPE html>
<html lang="sp">

<%- include("partials/head") %>

      <body>
            <%- include("partials/header") %>
                  <div class="container">
                        <h3>Right Aligned Navbar</h3>
                        <p>The .navbar-right class is used to right-align navigation bar buttons.</p>
                  </div>

                  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
      </body>

</html>