<header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <!-- Container wrapper -->
            <div class="container-fluid">
                  <!-- Toggle button -->
                  <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                  </button>

                  <!-- Collapsible wrapper -->
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!-- Navbar brand -->
                        <a class="navbar-brand mt-2 mt-lg-0" href="/">
                              <img src="/images/node.webp" height="45" alt="MDB Logo" loading="lazy" />
                        </a>
                        <!-- Left links -->
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <li class="nav-item">
                                    <a class="nav-link" href="/products">Productos</a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" href="/products/ofertas">Ofertas</a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" href="/products/masVendidos">Los mas vendidos</a>
                              </li>
                        </ul>
                        <!-- Left links -->
                  </div>
                  <!-- Collapsible wrapper -->

                  <!-- Right elements -->
                  <div class="d-flex align-items-center">
                        <% if (typeof session.user !="undefined" ){ %>
                              <!-- Avatar -->

                              <div class="dropdown">
                                    <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar"
                                          role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                                          <img src="/images/avatar/<%= session.user.avatar %>" class="rounded-circle" height="30" width="30"
                                                alt="Black and White Portrait of a Man" loading="lazy" />
                                          </i><span class="session"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                                          <li>
                                                <a class="dropdown-item" href="/users/profile"><i class="fa-solid fa-user"></i> My profile</a>
                                          </li>
                                          <li>
                                                <a class="dropdown-item" href="/users/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>
                                                      Logout</a>
                                          </li>
                                    </ul>
                              </div>
                              <% } else { %>
                                    <!-- Notifications -->
                                    <div class="dropdown">
                                          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                                <li class="nav-item">
                                                      <a class="nav-link" href="/users/register">Sing In</a>
                                                </li>
                                                <li class="nav-item">
                                                      <a class="nav-link" href="/users/login">Login</a>
                                                </li>
                                          </ul>

                                    </div>

                                    <% } %>

                  </div>
            </div>
            <!-- Right elements -->
            </div>
            <!-- Container wrapper -->
      </nav>
      <!-- Navbar -->
</header>